.layout {
  display: flex;
  flex-direction: column;
  min-height: 150px;
}

.header {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 10px #ffffff;
}

.logo {
  max-width: 150px;
}

.content {
  flex: 1;
  padding: 20px;
  background-color: #ffffff;
}
